@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import "custom";

p {
    font-family: $font-family-serif;
    font-size: 18px;
}

html,
body {
    height: 100%;
}

body {
    min-height: 100svh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
}
